{% extends "bootstrap/base.html" %}
{% block title %}Shiftbdr: Revisor de segundas repeticiones{% endblock %}

{% block content %}
<!-- Totus Tuus -->
<div class="container">
    <h1>Shiftbdr</h1>
    <blockquote>
        <p>La computadora debería estar haciendo el trabajo duro. Para eso fue que se compró, después de todo.</p>
        <footer><a href="https://es.wikipedia.org/wiki/Larry_Wall" target="new_tab">Larry Wall</a></footer>
    </blockquote class="blockquote-reverse">
    <p><b>Esta <i>webapp</i></b> ayudará a detectar qué numeros calificadores han sido detectados como repetidos y cuales numeros has dejado de lado. Esta hecha en Python 2.7 y usando Flask como <i>framework</i> web. <a href="https://bitbucket.org/esavara/shiftbdr" target="new_tab">Código fuente</a>.</p>
    <h2>Instrucciones</h2>
    <h3>Obtención de datos</h3>
    <p>Dirijete a la pagina de Shiftbid, selecciona el item afectado que registraste la primera vez y luego presiona sobre el botón en la barra de herramientas en la pagina que dice "View Item".</p>
    <p>Ahora debes visualizar el shift bid que has ingresado como una lista de dos columnas. Copia todo que esta debajo de tu login y pegalo en el formulario que aparece al final de esta pagina.</p>
    <p>Los datos que has pegado <b style="color: red;">DEBEN</b> verse <b>similar</b> de esto:</p>
    <pre>Sun-Tue/Thu-Fri 02:00 - 10:00 (4)
1
Sun-Tue/Thu-Fri 07:00 - 16:00 (10)
2
Sun-Tue/Thu-Fri 03:00 - 11:00 (9)
7</pre>
    <h2>¿Necesitas soporte?</h2>
    <p><strike>Contacta con DART</strike> Enviame un e-mail, mi login es <code>navjorg</code> y estoy de 3 a.m. a 11 a.m... y sí, soy del equipo Nintendo.</p>
    <h2>Ingreso de datos para revisar</h2>
    {% import "bootstrap/wtf.html" as wtf %}
    <form method="post" class="form form-horizontal" role="form">
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.datos, horizontal_columns=('sm', 2, 10)) }}

        <input class="btn btn-primary" type="submit" value="Nombre de usuario">
    </form>
</div>
{% endblock %}
