{% extends "bootstrap/base.html" %}
{% block title %}Shiftbdr: Resultados{% endblock %}
{% block content %}
<!-- Totus Tuus -->
<div class="container">
    <h1>Shiftbdr: Tus resultados</h1>
    <h2>Segundas repeticiones</h2>
    {% if repetidos %}
    <ul>
        {% for repetido in repetidos %}
        <li>Calificador <code>{{ repetido[0] }}</code> repetido en horario <code>{{ repetido[1]}}</code></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>¡No se encontraron segundas repeticiones!</p>
    {% endif %}
    <h2>Calificadores libres</h2>
    {% if faltantes %}
    <p>Los siguientes calificadores estan sin usar: {{ faltantes|join(', ') }}.</p>
    {% else %}
    <p>¡No sé encontraton calificadores sin usar!</p>
    {% endif %}
    <a class="btn btn-primary" href="/" role="button">Pagina principal</a>
</div>
{% endblock %}
